/* Logo */
.logo {
    width: 50px;
}

/* Main */
#main {
    padding-top: 8.8dvh;
}

p {
    padding: 0;
    margin: 0;
}

.alert {
    height: 8vh;
    width: auto;
    background-color: var(--elemlighttransp);
    border: 0px solid var(--bgdarktransp);
    border-radius: 10px;
    color: var(--text);
    display: flex;
    align-items: center;
}

/* Nav Category */
.nav-category {
    background-color: var(--bgdarktransp);
    border-radius: 10px;
}

/* Dropdown */
.dropdown-menu {
    border: 0px solid var(--elemtransp);
    background-color: var(--elemdarktransp);
    transition: 0.4s;
}

.dropdown-item:hover {
    background-color: var(--bg);
}

.dropdown-item:active {
    background-color: var(--bglight);
}

/* Category */
.category {
    background-color: var(--bg);
}

/* Carousel Prodotto */
.carousel {
    width: 50%;
}

/* Card Prodotti */
@media (min-width: 992px) {
    .card-img-top {
        filter: blur(2px);
    }

    .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .card:hover .card-overlay {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .card-overlay {
        position: absolute;
        top: -35%;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    #nav {
        background-color: var(--elemdarktransp);
    }
}

.img-last {
    border-radius: 10px;
}

.card-text-overlay {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Effetti di transizione */
.card {
    transition: transform 0.3s ease;
    background-color: var(--bgdarktransp);
    border: 0px solid var(--bgdark);
    border-radius: 10px;
}

.card-pers {
    border-radius: 0px 0px 10px 10px;
}

.card2 {
    background-color: var(--elemlighttransp);
}

/* Effetto di sfocatura all'immagine */
.card-img-top {
    transition: filter 0.3s ease;
}

.card:hover .card-img-top {
    filter: none;
}

/* Annunci */
#annunci {
    background-color: var(--bgdarktransp);
    border-radius: 10px 10px 0px 0px;
}

#annunci2 {
    background-color: var(--elemtransp);
    border-radius: 10px 10px 0px 0px;
}

#annuncio {
    background-color: var(--bgdarktransp);
    border-radius: 10px;
}

/* Footer */
#footer-top {
    border-bottom: 1px solid var(--text);
}

#footer {
    background: linear-gradient(var(--bgdark), var(--elemdark));
}

main {
    background-color: var(--bgdark);
}


/* Cerca Button */
.search-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;

}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    background-color: transparent;
    font-size: 1em;
    border-radius: 7px;
    padding: 0 20px;
}

.btn-search {
    padding: 10px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 7px;
    color: var(--text);
    text-align: center;
    font-size: 1.5em;
    transition: ease-in .1s;
}

.btn-search:hover {
   color: var(--bg) !important;
}

.search-form:hover {
    width: 300px;
    cursor: pointer;
    border: 1px solid var(--text);
}

.search-form:hover input {
    display: block;
}

.search-form:hover .fa {
    color: var(--elemt);
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Table */
.table-pers {
    background-color: var(--elemlighttransp);
    border-radius: 10px;
}

.table-pers2 {
    background-color: var(--elemlighttransp);
    border-radius: 0px 0px 10px 10px;
}

.b-true {
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 7px;
}

.b-null {
    background-color: rgba(255, 255, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 7px;
}

.b-false {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 7px;
}

::placeholder {
    color: var(--text);
}

.custom-file-upload {
    background-color: var(--bgdark);
    width: 150px;
    height: 50px;
    color: var(--text);
    border-radius: 5px 0px 0px 5px;
}

#temporary_images {
    padding: 65px;
}

.form-floating {
    height: 58px;
}