/* Logo */
.logo{
    width: 50px;
}

/* Card User */
.card-user{
    background-color: var(--bg);
    border-radius: 10px;
}

/* Card Prodotti */
/* Effetti di transizione */
.card {
    transition: transform 0.3s ease;
    border-radius: 10px;
    background-color: var(--bg);
}

.card:hover {
    transform: scale(1.05);
}

/* Effetto di sfocatura all'immagine */
.card-img-top {
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.card:hover .card-img-top {
    filter: none;
}

/* Animazione dei pulsanti */
.btn {
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* Footer */
#footer-top{
    background-color: white;
}

#footer-bottom{
    background-color: var(--bg);
}