:root {
    --text: #291711;
    --bg: #98dbc6;
    --elem: #ffd8bf;
    --font-head: "Montserrat", sans-serif;
    --font-body: "Lato", sans-serif;
}

/* Navbar */

nav{
    background-color: var(--elem);
    color: var(--text);
    font-family: var(--font-head);
    transition: 0.4s;
    height: 73px;
}

/* Nav Link */

.a-nav1, .a-nav2, .a-nav3 {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
}

.a-nav3::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text);
    transition: width .3s;
}

.a-nav2::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text);
    transition: width .3s;
}

.a-nav1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text);
    transition: width .3s;
}

.a-nav3:hover::after {
    width: 100%;
    transition: width .3s;
}

.a-nav2:hover::after {
    width: 100%;
    transition: width .3s;
}

.a-nav1:hover::after {
    width: 100%;
    transition: width .3s;
}

.drop-menu{
    background-color: var(--elem);
    transition: .6s;
}

.drop-menu:hover{
    background-color: var(--bg) !important;
}

.a-profile, .a-logout, .a-register, .a-login{
    color: var(--text) !important;
}

.navTitle{
    transition: .2s;
}

/* .btn-css:hover,
.btn-css:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--elem);
} */

/* Header Home */


.header-home{
    background-image: linear-gradient( rgba(147, 207, 177, 0.75), rgba(147, 207, 177, 0.75)), url(/public/media/bg-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Animation Title Home & Para Home */

.title-home{
    color: var(--text);
    font-family: var(--font-head);
    animation: fade-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes fade-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
  
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.para-home{
    color: var(--text);
    font-family: var(--font-body);
    animation: fade-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes fade-in-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
  
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.icon-home{
    font-size: 10dvh;
    animation: fade-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes fade-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
  
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

/* Create Announce */

.bg-create{
    background-image: linear-gradient( rgba(147, 207, 177, 0.75), rgba(147, 207, 177, 0.75)), url(/public/media/bg-create3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-create{
    border-radius: 5dvh;
    background-color: var(--bg);
    width: 50%;
    color: var(--text);
    font-family: var(--font-body);
}

.checkbox-create{
   display: inline-flex;
}

.title-form{
    color: var(--text);
    font-family: var(--font-head);
}

.btn-create{
    font-size: 3dvh !important;
    width: 15dvh;
    color: var(--text);
    transition: .6s;
}

.btn-create:hover{
    color: var(--text) !important;
}

.bi-arrow{
    font-size: 4dvh !important;
    transition: .5s;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: auto;
    line-height: inherit;
    vertical-align: baseline;
}

.span-icon {
    line-height: 40%;
    }

    .title-home {
        
      }
      
      
    
      .title-hom{
       
      }
    
    
      
