:root {

    /* Background */
    --bg: #638a78;
    --bgtransp: rgba(99, 138, 120, 0.9);

    --bglight: #7fa592;
    --bglighttransp: rgba(127, 165, 146, 0.9);

    --bgdark: #4d725f;
    --bgdarktransp: rgba(77, 114, 95, 0.9);

    /* Elementi */
    --elem: #c0a286;
    --elemtransp: rgba(192, 162, 134, 0.9);

    --elemlight: #d8c6b3;
    --elemlighttransp: rgba(216, 198, 179, 0.9);

    --elemdark: #a88b73;
    --elemdarktransp: rgba(168, 139, 115, 0.9);

    /* Font */
    --font-head: "Montserrat", sans-serif;
    --font-body: "Lato", sans-serif;

    --text: #291711;
}

.col-text {
    color: var(--text);
}

.form-control:hover {
    background-color: var(--elemlighttransp);
    border: 0px solid white;
}

.form-control:not(:hover) {
    background-color: var(--elemlighttransp);
    border: 0px solid white;
}

.img-preview {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}